/* Easy homework assignment due 4/30/2018 Tom Sampson */
html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #777;
    font-family: Helvetica, sans-serif;
    color: #fff;
}

header, footer, .nav {
    max-height: 80px;
    align-content: center;
    max-width: 940px;
    margin: 10px auto 10px auto;
    flex-direction: column;
    background-color: #ebebeb;
    color: #777;
    display: flex;
    padding: 20px;
}

.main, .sect {
    color: #777;
    display: flex;
    margin: auto;
    flex: 1;
}

@media (min-width: 600px) {
    .main {
        max-width: 990px;
        justify-content: space-between;
        padding: 0 5px 0 5px;
    }
    
    .sect {
        max-width: 980px;
        background-color: #ebebeb;
        flex-direction: column;
        justify-content: space-between;
        align-self: stretch;    
        text-align: justify;
        margin: 0px 5px 0px 5px;
        padding: 20px;
        flex: 1;
    }
  }

  @media (max-width: 599px) { /* If width gets below 600, flex direction column instead of row */
    .main {
        max-width: 500px;
        justify-content: space-between;
        flex-direction: column;
        padding: 0 5px 0 5px;
    }
    
    .sect {
        max-width: 480px;
        background-color: #ebebeb;
        flex-direction: column;
        justify-content: space-between;
        align-self: stretch;    
        text-align: justify;
        margin: 0px 5px 0px 5px;
        padding: 20px;
        flex: 1;
    }
  }  

.article {
    background-color: #777;
    padding: 5px;
    margin: 0 -10px -10px -10px; /* Need to adjust for sections without articles */
    color: #ebebeb;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sub-article {
    background-color: #ebebeb;
    text-align: justify;    
    color: #777;
    margin: 5px;
    padding: 10px;
    flex: 1;
}

#label {
    text-align: center;
    font-weight: bold;
    display: inline;
    margin: 5px;
}